
services:
 
  book.app:
    build:
      context: .
      dockerfile: frontend/app/Dockerfile
    image: kraftcoding/bookstoreversiontwofront:master
    container_name: book.app
    ports:
      - "3000:3000"
    restart: unless-stopped
    depends_on: 
      - books.api

  books.api:
    image: kraftcoding/bookstoreversiontwowebapi:master
    container_name: books.api
    build:
      context: .
      dockerfile: backend/Dockerfile
    environment:
        - ASPNETCORE_ENVIRONMENT=Development
        - ASPNETCORE_URLS=http://+:5000
        - ConnectionStrings__Default=User ID=postgres;Password=postgres;Server=books.db;Port=5432;Database=books;Pooling=true;
        - Redis__Host=books.cache
        - Redis__Port=6379
    ports:
        - "5000:5000"
        - "5001:5001"
    depends_on:
        - books.db
        - books.cache  

  books.db:
    image: postgres:latest
    container_name: books.db
    environment:
      - POSTGRES_DB=BookStore-v2.x
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres   
    ports:
      - 5432:5432

  books.cache:
     image: redis:latest
     container_name: books.cache
     restart: always
     ports:
      - 6379:6379

  watchtower:
    container_name: watchtower
    image: containrrr/watchtower
    environment:
      - WATCHTOWER_CLEANUP=true
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    # command: WebAPI-.NET-8 (default is 24h)
    command: --interval 300 books.api book.app  