
services:
 
  book.app:
    build:
      context: .
      dockerfile: frontend/app/Dockerfile
    image: ${DOCKER_REGISTRY-}book.app
    container_name: book.app
    ports:
      - "80:80"
    restart: unless-stopped
    depends_on: 
      - books.api

  books.api:
    image: ${DOCKER_REGISTRY-}books.api
    container_name: books.api
    build:
      context: .
      dockerfile: backend/Dockerfile
    environment:
        - ASPNETCORE_ENVIRONMENT=Development
        - ASPNETCORE_URLS=http://+:5000
        - ConnectionStrings__Default=User ID=postgres;Password=postgres;Server=books.db;Port=5432;Database=books;Pooling=true;
        - Redis__Host=books.cache
        - Redis__Port=6379
    ports:
        - "5000:5000"
        - "5001:5001"
    depends_on:
        - books.db
        - books.cache  

  books.db:
    image: postgres:latest
    container_name: books.db
    environment:
      - POSTGRES_DB=BookStore-v2.x
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres   
    ports:
      - 5432:5432

  books.cache:
     image: redis:latest
     container_name: books.cache
     restart: always
     ports:
      - 6379:6379